Source: periods
Section: database
Priority: optional
Maintainer: Debian PostgreSQL Maintainers <team+postgresql@tracker.debian.org>
Uploaders: Christoph Berg <myon@debian.org>,
Build-Depends: debhelper (>= 9), postgresql-server-dev-all (>= 153~)
Standards-Version: 4.4.0
Vcs-Browser: https://salsa.debian.org/postgresql/periods
Vcs-Git: https://salsa.debian.org/postgresql/periods.git
Homepage: https://github.com/xocolatl/periods

Package: postgresql-11-periods
Architecture: any
Depends: postgresql-11, ${misc:Depends}, ${shlibs:Depends}
Description: PERIODs and SYSTEM VERSIONING for PostgreSQL
 This extension attempts to recreate the behavior defined in SQL:2016
 (originally SQL:2011) around periods and tables with SYSTEM VERSIONING. The
 idea is to figure out all the rules that PostgreSQL would like to adopt (there
 are some details missing in the standard) and to allow earlier versions of
 PostgreSQL to simulate the behavior once the feature is finally integrated.

